.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #171821; // Header background color
  color: white;
  padding: 0 20px;
  height: 60px; // Height of the header
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Subtle shadow for depth
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 40px; // Adjust size to fit your logo
  height: 40px;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  margin: 0;
}

.userMenu {
  display: flex;
  align-items: center;
  position: relative;
}

.userButton {
  display: flex;
  align-items: center;
  padding: 6px;
  margin-right: 10px; // Space between user button and title
  border-radius: 6px;
  font-size: 22px;
  color: #171821;
  background: #ffffff;
  cursor: pointer;
}

.userButton .userIcon {
  font-size: 24px; // Adjust size as needed
  color: #171821; // Match icon color with button
}

.menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #ffffff;
  color: #333;
  list-style: none;
  padding: 10px 0;
  border-radius: 4px; // Rounded corners
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); // More prominent shadow
  z-index: 1000; // Ensure menu appears above other content
  display: none; // Hide menu by default
}

.userMenu:hover .menu {
  display: block; // Show menu on hover
}

.menuItem {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s; // Smooth transition
  text-decoration: none; // Remove underline for links
  color: inherit; // Ensure the link inherits color from its parent
}

.menuItem:hover {
  background-color: #f0f0f0; // Hover background color
}

.menuIcon {
  margin-right: 10px; // Space between icon and text
}
